<!DOCTYPE html>
<html>
	<head>
		<title>Chiffee</title>
		<style>
		body{
			font-size: 200%;
			background-color: #555555;
			color: white;
		}
		a:link, a:visited {
			background-color: #5086de;
			color: white;
			padding: 40px 50px;
			margin: 10px;
			width: 330px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
		}
		a:hover, a:active {
			background-color: #50de78;
		}
		a.Eis {
			background-color: #de6750;
		}
		a.Snacks {
			background-color: #50de78;
		}
		a.Trinken {
			background-color: #5086de;
		}
		</style>
	{% block head %}{% endblock %}
	<script>
	function startTime() {
	    var today = new Date();
	    var h = today.getHours();
	    var m = today.getMinutes();
	    var s = today.getSeconds();
	    m = checkTime(m);
	    s = checkTime(s);
	    document.getElementById('headline').innerHTML =
	    "Chiffee - " + h + ":" + m + " Uhr";
	    var t = setTimeout(startTime, 500);
	}
	function checkTime(i) {
	    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
	    return i;
	}
	</script>
	</head>
	<body onload="startTime()">
		<h1 align="center" id="headline">Chiffee</h1>
	{% block body %}{% endblock %}
	</body>
</html>
