{% extends "chiffee/home.html" %}


{% block logedinbody %}
{% if error %}
		<h2 align="center" >{{ error }}</h2>
{% endif %}

{% if buys %}
		<p>Deine letzten K&auml;ufe waren:</p>
		<table>
			<tr>
				<th>Produkt</th>
				<th>Anzahl</th>
				<th>Kosten</th>
				<th>Zeitpunkt</th>
			</tr>
	{% for buy in buys reversed %}		<tr>
				<td>{{ buy.buy_product }}</td>
				<td>{{ buy.buy_count }}</td>
				<td>{{ buy.buy_total|floatformat:2 }}</td>
				<td>{{ buy.buy_date }}</td>
			</tr>
	{% endfor %}
		</table>
{% else %}
		<h2>Du hast bis jetzt noch nichts gekauft.</h2>
{% endif %}

{% endblock %}

