{% extends "chiffee/base.html" %}

{% block body %}
    <form action="{% url 'chiffee:make-purchases' %}" method="post">
        {% csrf_token %}

        {% for product in active_products %}
            {% if forloop.counter0|divisibleby:4 %}
                <div class="row">
            {% endif %}

            <div class="col-3">
                {% if product.category == categories.0.0 or product.category == categories.1.0 or product.category == categories.2.0 %}
                    <button class="btn btn-block btn-lg btn-menu
                                {% if product.category == categories.0.0 %}
                                    btn-primary
                                {% elif product.category == categories.1.0 %}
                                    btn-success
                                {% elif product.category == categories.2.0 %}
                                    btn-danger
                                {% endif %}"
                            name="product-name"
                            type="submit"
                            value="{{ product.name }}">
                        {{ product.name }} (€{{ product.price|floatformat:-2 }})
                    </button>
                {% endif %}
            </div>

            {% if forloop.counter0|add:1|divisibleby:4 or forloop.last %}
                </div>

                {% if not forloop.last %}
                    <br>
                {% endif %}
            {% endif %}
        {% endfor %}
    </form>
{% endblock %}
