{% extends 'chiffee/base.html' %}

{% block body %}
    <form method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-5"></div>
            <div class="col-2">
                <div class="form-group">
                    <label for="username">Benutzername:</label>
                    <input class="form-control" id="username" name="username" type="text">
                </div>
            </div>
            <div class="col-5"></div>
        </div>

        <div class="row">
            <div class="col-5"></div>
            <div class="col-2">
                <div class="form-group">
                    <label for="password">Passwort:</label>
                    <input class="form-control" id="password" name="password" type="password">
                </div>
            </div>
            <div class="col-5"></div>
        </div>

        <div class="row">
            <div class="col-5"></div>
            <div class="col-2">
                <button type="submit" class="btn btn-lg btn-primary">Einloggen</button>
            </div>
            <div class="col-5"></div>
        </div>
    </form>
{% endblock %}
