{% extends "chiffee/home.html" %}


{% block logedinbody %}
{% if error %}
		<h2 align="center" >{{ error }}</h2>
{% endif %}

		<p>Hallo {{ user.first_name }} {{ user.last_name }},</p>
		<p>Du hast ein Guthaben von: {{ balance|floatformat:2 }} Euro</p>

		<form method="post" action="{% url 'chiffee:home' %}">
			{% csrf_token %}
			<table>
				<tr>
					<td>
						Altes Passwort: 
					</td>
					<td>
						<input type="password" name="old" required>
					</td>
				</tr>
				<tr>
					<td>
						Neues Passwort: 
					</td>
					<td>
						<input type="password" name="neu1" required><br>
					</td>
				</tr>
				<tr>
					<td>
						Wiederholung: 
					</td>
					<td>
						<input type="password" name="neu2" required><br>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<input type="submit" name="submit" value="&auml;ndern">
					</td>
				</tr>
			</table>
		</form>
{% if payment %}
		<h2>Einzahlung erfolgreich!</h2>
		<p>Ich habe {{ payment.deposit_value|floatformat:2 }} Euro für {{ payment.deposit_user.first_name }} {{ payment.deposit_user.last_name }} eingezahlt.</p>
{% endif %}
{% if user.is_superuser %}
		<p>Einzahlung:</p>
		<form method="post" action="{% url 'chiffee:home' %}">
			{% csrf_token %}
		Zahle <input name="value" > Euro f&uuml;r
			<select name="nutzer" >
				<option value="---">----</option>{% for u in users %}
				<option value="{{ u }}">{{ u.first_name }} {{ u.last_name }}</option>{% endfor %}
			</select>
		ein.
		<input type="submit" name="submit" value="einzahlen">
		</form>
{% endif %}

{% endblock %}
