{% extends "chiffee/base.html" %}

{% block body %}
    {% if active_products|length > 0 %}
        <div class="table-responsive">
            <table class="table table-borderless table-dark table-striped">
                <thead class="thead-light">
                <tr>
                    <th class="col-3">Name</th>
                    <th class="col-2">Price</th>
                    <th class="col-3">Kategorie</th>
                    <th class="col-2">Aktiv</th>
                    <th class="col-2"></th>
                </tr>
                </thead>

                <tbody>
                {% for product in active_products %}
                    {% if product.category == categories.0.0 %}
                        <tr class="bg-primary">
                            {% elif product.category == categories.1.0 %}
                        <tr class="bg-success">
                            {% elif product.category == categories.2.0 %}
                        <tr class="bg-danger">
                    {% endif %}

                <form action="{% url 'chiffee:edit-products' %}" method="post">
                    {% csrf_token %}

                    {% if edit_name and edit_name == product.name %}
                        <td class="col-3">
                            <input class="form-control input-sm"
                                   name="name"
                                   type="text"
                                   value="{{ product.name }}">
                        </td>
                        <td class="col-2">
                            <input class="form-control input-sm"
                                   name="price"
                                   type="text"
                                   value="{{ product.price|floatformat:-2 }}">
                        </td>
                        <td class="col-3">
                            <select class="form-control input-sm" name="category">
                                {% for category in categories %}
                                    {% if category.0 == product.category %}
                                        <option selected>{{ category.1 }}</option>
                                    {% else %}
                                        <option>{{ category.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td class="col-2">
                            <div class="form-check">
                                <input aria-label="..."
                                       checked
                                       class="form-check-input position-static"
                                       name="active"
                                       type="checkbox">
                            </div>
                        </td>
                        <td class="col-2">
                            <button class="btn btn-block btn-dark"
                                    name="confirm"
                                    type="submit"
                                    value="{{ product.name }}">
                                Bestätigen
                            </button>
                        </td>
                    {% else %}
                        <td class="col-3">{{ product.name }}</td>
                        <td class="col-2">€{{ product.price|floatformat:-2 }}</td>

                        {% if product.category == categories.0.0 %}
                            <td class="col-3">{{ categories.0.1 }}</td>
                        {% elif product.category == categories.1.0 %}
                            <td class="col-3">{{ categories.1.1 }}</td>
                        {% else %}
                            <td class="col-3">{{ categories.2.1 }}</td>
                        {% endif %}

                        <td class="col-2">
                            <div class="form-check">
                                <input aria-label="..."
                                       checked
                                       class="form-check-input position-static"
                                       disabled
                                       type="checkbox">
                            </div>
                        </td>

                        <td class="col-2">
                            <button class="btn btn-block btn-dark"
                                    name="edit"
                                    type="submit">
                                Bearbeiten
                            </button>
                            <input name="name" type="hidden" value="{{ product.name }}">
                        </td>
                    {% endif %}
                </form>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if inactive_products|length > 0 %}
        <br>

        <form action="{% url 'chiffee:restore-products' %}" method="post">
            {% csrf_token %}

            <div class="form-group form-inline">
                <select class="form-control" name="name">
                    {% for product in inactive_products %}
                        <option>{{ product.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <button class="btn btn-lg btn-primary" name="restore" type="submit">
                Wiederherstellen
            </button>
        </form>
    {% endif %}
{% endblock %}
