{% extends "chiffee/home.html" %}


{% block logedinbody %}
{% if error %}
		<h2 align="center" >{{ error }}</h2>
{% endif %}

		<table>
			<tr>
				<th>
					Active
				</th>
				<th>
					Name
				</th>
				<th>
					Price
				</th>
				<th>
					Categorie
				</th>
				<th>
					<form action="/products/"><button type="submit">Edit</button></form>
				</th>
			</tr>
{% for cat in categories %}
		{% for product in products %}{% if product.product_categorie == cat.0 %}
			<tr>
				<td class="active">
					<input type="checkbox", id="{{ product.product_name }}" name="active_{{ product.product_name }}" {% if product.product_active == True %}checked="checked" {% endif %}>
				</td>
				<td>
					{{ product.product_name }}
				</td>
				<td>
					{{ product.product_price|floatformat:2 }}
				</td>
				<td>
					{{ product.product_categorie }}
				</td>
			</tr>{% endif %}{% endfor %}{% endfor %}
		</table>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
var boxes_td = document.getElementsByClassName('active');
console.log(boxes_td.length)
for (var i=0, len=boxes_td.length; i<len; i++) {
	var boxes = boxes_td[i].getElementsByTagName('input')[0];
	if (boxes.type === 'checkbox') {
		boxes.onclick = function(box) {
			$.ajax({
				type: "POST",
				url: '/' + box['target']['id'] + '/active/',
				data: { csrfmiddlewaretoken: '{{ csrf_token }}', 'active': box['target'].checked},
			});
		};
	}
}
</script>
{% endblock %}
