{% extends "chiffee/base.html" %}


{% block body %}{% for user in profs %}{% if user.is_active == True %}
			<a class="Trinken" href="{% url 'chiffee:confirm' product user %}">{{ user.first_name }} {{ user.last_name }}</a>{% endif %}{% endfor %}
{% for user in wimi %}{% if user.is_active == True %}
			<a class="Snacks" href="{% url 'chiffee:confirm' product user %}">{{ user.first_name }} {{ user.last_name }}</a>{% endif %}{% endfor %}
{% for user in stud %}{% if user.is_active == True %}
			<a class="Eis" href="{% url 'chiffee:confirm' product user %}">{{ user.first_name }} {{ user.last_name }}</a>{% endif %}{% endfor %}
{% endblock %}

